/* 구름 스타일 */
#clouds {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.cloud {
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0.8;
}

.cloud::before, .cloud::after {
    content: '';
    position: absolute;
    background: white;
    border-radius: 50%;
}

.cloud1 {
    width: 100px;
    height: 100px;
    top: 10%;
    animation: animateCloud 35s linear infinite;
}
.cloud1::before {
    width: 60px;
    height: 60px;
    bottom: 10px;
    left: -30px;
}
.cloud1::after {
    width: 80px;
    height: 80px;
    bottom: 10px;
    right: -40px;
}

.cloud2 {
    width: 120px;
    height: 120px;
    top: 30%;
    animation: animateCloud 45s linear infinite;
}
.cloud2::before {
    width: 70px;
    height: 70px;
    bottom: 15px;
    left: -40px;
}
.cloud2::after {
    width: 90px;
    height: 90px;
    bottom: 15px;
    right: -50px;
}

.cloud3 {
    width: 80px;
    height: 80px;
    top: 50%;
    animation: animateCloud 55s linear infinite;
}
.cloud3::before {
    width: 50px;
    height: 50px;
    bottom: 8px;
    left: -25px;
}
.cloud3::after {
    width: 70px;
    height: 70px;
    bottom: 8px;
    right: -35px;
}

@keyframes animateCloud {
    0% {
        transform: translateX(-150%);
    }
    100% {
        transform: translateX(150%);
    }
}